redis
tqdm
huggingface-hub
faiss-gpu
opencv-python
numpy
autopep8
pandas
einops
timm
transformers
matplotlib
scikit-learn
protobuf==3.20.1
pytorch_lightning
pytorch_metric_learning
prettytable
h5py
xformer
xformers==0.0.27